.container:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
  display: block;
  background-image: url('app/images/SRW_LOGO.png'), url('app/images/fbg.jpg');
  background-size: 80% 50%, 100% 100%;
  background-repeat: no-repeat;
  background-position: bottom center, center;
  width: 100%;
  height: 100%;
  /*
  -webkit-filter: saturate(30%) brightness(10%);
  -moz-filter: saturate(30%) brightness(10%);
  -o-filter: saturate(30%) brightness(10%);
  -ms-filter: saturate(30%) brightness(10%);
  filter: saturate(30%) brightness(10%);
  */
}

div {
  text-transform: uppercase;
  font-family: "Roboto", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-shadow: 1px 1px #FFFFFF;
  letter-spacing: 0.16px;
  vertical-align: middle;
}

#comingImg {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
  width: 60%;
  -webkit-filter: opacity(90%) invert(100%);
  /* Safari */
  filter: opacity(90%) invert(100%);
}


/* do not group these rules */

*::-webkit-input-placeholder {
  color: red;
}

*:-moz-placeholder {
  /* FF 4-18 */
  color: red;
}

*::-moz-placeholder {
  /* FF 19+ */
  color: red;
}

*:-ms-input-placeholder {
  /* IE 10+ */
  color: red;
}
