<div class="signup-container">
  <p (click)="showForm()">Get the Weather Report</p>
  <form [@revealSignup]="myShowForm">
    <input [(ngModel)]="user.firstName" type="text" name="firstName" class="signup-entry signup-entry-plus" id="firstName" placeholder="First Name" />
    <input [(ngModel)]="user.lastName" type="text" name="lastName" class="signup-entry signup-entry-plus" id="lastName" placeholder="Last Name" />
    <input [(ngModel)]="user.email" (change)="doesUserExist()" type="email" #email="ngModel" name="email" class="signup-entry" id="email-signup" placeholder="E-Mail Address" required/>
    <button (click)="onSubmit()" type="submit" class="signup-btn">Go</button>
    <div [hidden]="!messageExists" class="alert alert-danger" id="message">{{this.message}}</div>
  </form>
</div>
